.mainSection {
    padding-top: 3rem;

    h1 {
        margin-bottom: 3rem;
    }

    .swiperConatiner {
        >div {
            a {
                img {

                    margin: 0 auto;
                }
            }

            //  &:first-child {
            //         width: 90%;
            //         margin: 0 auto;
            //         right: 2rem;
            //     }
        }
    }
}